body{
  background-color: rgb(197, 197, 179);
  text-align: center;
}
.div1, .div2, .div3{
  display: inline-block;
  text-align: center;
  background-color: white;
  margin: 15px;
}
img{
  width: 30rem;
}
.p1{
  font-size: 22px;
  font-weight: 700;
}
.p2{
  color: red;
  font-size: 22px;
  font-weight: 900;
}
.p3{
  font-weight: 900;
  text-decoration: underline red;
}

/* .div2{
  display: inline-block;
}

.div3{
  display: inline-block;
} */