
.back{
  position: absolute;
  left: 40%;
  background-color: pink;
  width: 300px;
  height: 100vh;
}
.lefttop{
  position: absolute;
  left: 11%;
  top: 10%;
}
.leftbot{
  position: absolute;
  top: 55%;
  left: 33%;
}
.righttop{
  position: absolute;
  left: 54%;
  top: 10%;
}
.rightbot{
  background-color: rgb(49, 48, 48);
  color: white;
  width: 300px;
  height: 350px;
  position: absolute;
  left: 54%;
  top: 30%;
  padding: 35px;
}
.rightbot>p{
  font-size: 32px;
}
.rightbot>.p2{
  font-size: 30px;
  
}
a{
  color: white;
}