.block{
  border: 1px solid greenyellow;
  height: 50px;
  width: 100px;
  margin: 0 auto;
}

.inline{
  border: 1px solid blueviolet;
  height: 50px;
  width: 100px;

  margin: 50px;

  padding: 30px;
}

.bg_blue{
  background-color: blue;
  color: white;
}

.parent{
  border: 1px dotted rgb(255, 0, 255);
  width: 350px;
  /* width: 100%; */
}
.parent > div{
  border: 1px dashed goldenrod;
  height: 100px;
  width: 150px;
  display: inline-block;
  box-sizing: border-box;

  /* inline, inline-block 에만적용됨 */
  vertical-align: top;
}
.hide{
  display: none;
}
.table{
  display: table;
}
.table .td{
  display: table-cell;

  border: 1px solid red;
  width: 100px;
  height: 100px;

  vertical-align: middle;
  text-align: center;
}
.fake_div{
  display: inline;
  border: 1px solid red;
}