
@font-face {
  font-family: 'NoonnuBasicGothicRegular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

#p1{
  color: red;
  /* text-decoration: underline; */
  text-decoration: line-through;
  text-align: center;
  font-family: 'NoonnuBasicGothicRegular';
  font-size: 100px;
}
input[type=checkbox]:checked + span{
  text-decoration: line-through;
  color: gray;
}
.size {
  font-size: 2em;
  
}
.style{
  font-style: italic;
}

em{
  font-style: normal;
}
h1{
  font-weight: 1;
}
.fw-100{
  font-weight: 100;
}
.fw-500{
  font-weight: 500;
}
.fw-900{
  font-weight: 900;
}
.fw-2000{
  font-weight: 2000;
}
.fw-bold{
  font-weight: bold;
}
.align-right{
  text-align: right;
}
.align-center{
  text-align: center;
}
.align-justify{
  text-align: justify;
}
/* 자간 */
.spacing{
  letter-spacing: .5em;
}
.lh{
  line-height: 500%;
}
.middle{
  border: 1px solid red;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.nowrap{
  border: 1px solid green;
  
  /* 자동줄바꿈 ㄴㄴ 한줄로 */
  white-space: nowrap;
  /* 박스를 넘어가면 자동으로 짤라줌 */
  overflow: hidden;
  width: 50vw;

  /* overflow시 ... 자동생성 */
  text-overflow: ellipsis;
}
.text{
  border: 1px solid purple;
  width: 200px;
}
.word-wrap{
  /* 박스를 넘어가면 자동 줄바꿈 */
  word-wrap: break-word;
}
.word-break{
  word-break: break-all;
}