.modu{
  display: flex;
  justify-content: space-around ;
}
.box{
  width: 300px;
}
.box, .box> div{
  border: 1px solid purple;
}

#view{
  height: 300px;
  width: 100px;
  border: 1px solid yellowgreen;
  overflow: auto;
}
.moreView{
  width: 80vw;
  /* height: 60vh; */
  margin: 30px;
  border: 1px solid rgb(185, 136, 136);
}
.hide{
  display: none;
}
